:root {
  font-size: 87.5%;

  --color-primary: hsl(0, 0%, 100%);
  --color-canvas: hsl(30, 38%, 92%);
  --color-accent: hsl(158, 36%, 37%);
  --color-accent-dark: hsl(156, 44%, 18%);
  --color-text-primary: hsl(212, 21%, 14%);
  --color-text-secondary: hsl(228, 12%, 48%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: var(--color-text-secondary);
  background-color: var(--color-canvas);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--color-text-primary);
  font-family: 'Fraunces', serif;
  font-size: 2.3rem;
  line-height: 2.25rem;
}

article {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-inline: 1.5rem;
}

div {
  padding: 2.286rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  color: var(--color-primary);
  background-color: var(--color-accent);
  font-weight: 700;
  border: none;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-accent-dark);
}

button:focus-visible {
  outline-offset: 0.25rem;
}

.label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
}

.description {
  line-height: 1.65rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.discounted-price {
  color: var(--color-accent);
  font-family: 'Fraunces', serif;
  font-size: 2.3rem;
}

.original-price {
  text-decoration: line-through;
  font-size: 0.9rem;
}

@media (min-width: 601px) {
  .item {
    flex: 1 1 0;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
  }

  div {
    gap: 0.9rem;
    padding: 1.714rem;
  }
}
