$color-primary: hsl(219, 85%, 26%);
$color-secondary: hsl(1, 90%, 64%);

$color-neutral-100: hsl(0, 0%, 100%);
$color-neutral-110: hsl(210, 60%, 98%);
$color-neutral-120: hsl(211, 68%, 94%);
$color-neutral-130: hsl(205, 33%, 90%);
$color-neutral-200: hsl(219, 14%, 63%);
$color-neutral-300: hsl(219, 12%, 42%);
$color-neutral-700: hsl(224, 21%, 14%);
