:root {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
  color: $color-primary;
}

h2 {
  font-weight: 400;
  font-size: 1.32rem;
}

p {
  font-size: 1.2rem;
  color: $color-neutral;
}
